@{
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = Model.Keywords;
    ViewBag.Description = Model.Summary;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var next = ViewBag.next as Windy.WebMVC.Web2.Models.Product;
    var pre = ViewBag.pre as Windy.WebMVC.Web2.Models.Product;
}

@model Windy.WebMVC.Web2.Models.Product


<div class="am-container " id="main">

    <div class="am-g am-g-fixed">
        <div class="am-u-md-8" id="blog-main">
            <ol class="am-breadcrumb">
                <li><a href="/" class="am-icon-home">首页</a></li>
                <li><a href="/book/index.htm">考试书籍</a></li>
                @if (Model.CategoryCode.Contains("book"))
                {
                    <li><a href="/book/index?categorycode=@Model.CategoryCode">@Model.CategoryName</a></li>
                }
                <li class="am-active">详情</li>
            </ol>



            <article class="am-article">
                <div class="am-article-hd">
                    <h1 class="am-article-title">@Model.Title</h1>
                    <div class="am_list_author">

                        <p class="blog-ext">
                            <span class="blog-ext-ico">
                                <i class="am-icon-user  blog-ext-ico"></i>
                                @Model.ModifyName
                            </span>
                            <span class="blog-ext-ico"><i class="am-icon-clock-o  blog-ext-ico"></i>@Model.ModifyTime.ToString("yyyy-MM-dd HH:mm")</span>
                            <span class="blog-ext-ico">
                                <i class="am-icon-eye  blog-ext-ico"></i>
                                @Model.ViewCount
                            </span>
                        </p>
                    </div>
                </div>

                @*价格*@
                <div id="detail">
                    <div class="tm-fcs-panel">
                        <div class="tm-coupon-panel">
                            <img height="16" src="//img.alicdn.com/tps/TB1okcBKVXXXXbBXVXXXXXXXXXX-116-32.png">
                            全天猫实物商品通用
                            <a id="J_guaGuaKaPc" target="_blank" href="@Model.Url">去购买</a>
                            
                        </div>
                        <dl class="tm-price-panel" id="J_StrPriceModBox">
                            <dt class="tb-metatit">价格</dt>
                            <dd>
                                <em class="tm-yen">¥</em>
                                <span class="tm-price">@((Model.Price / Model.DisCount * 10).ToString("F2"))</span>
                            </dd>
                        </dl>
                        <dl class="tm-promo-panel tm-promo-cur" id="J_PromoPrice" data-label="促销价">
                            <dt class="tb-metatit">促销价</dt>
                            <dd>
                                <div class="tm-promo-price">
                                    <em class="tm-yen">¥</em> <span class="tm-price">@Model.Price</span>                                               <em class="tm-promo-type "><s></s>赔老本啦</em>                               &nbsp;&nbsp;
                                </div>
                                <p>
                                </p>
                            </dd>
                        </dl>
                        <script type="data/tpl" id="J_PromoHintText">
                            <!--rullBanner ids:$ids true-->

                        </script>

                        <dl class="tm-shopPromo-panel"></dl>
                    </div>
                </div>
                <div id="blogcontentid" class="am-article-bd">
                    @Html.Raw(Model.Content)
                </div>

                <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">
                <ul class="am-pagination blog-pagination">
                    @if (pre != null)
                    {
                        <li class="am-pagination-prev"><a href="/book/view/@(new HtmlString(pre.ID.ToString() + ".htm"))">« 上一篇 @pre.Title</a></li>
                    }
                    @if (next != null)
                    {
                        <li class="am-pagination-next"><a href="/book/view/@(new HtmlString(next.ID.ToString() + ".htm")) ">下一篇 » @next.Title</a></li>
                    }
                </ul>
                <div class="shengming">声明：若要转载状元乐中的任何文章请注明转载地址</div>


            </article>
            <!-- 分割线 -->
            <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">
            @Html.Partial("advert1")
            <!-- 分割线 -->
            <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">

            <!-- 多说评论框 start -->
            <div data-am-widget="duoshuo" class="am-duoshuo am-duoshuo-default" data-ds-short-name="zyldingfang">
                <div class="ds-thread" data-thread-key="book_@Model.ID" data-title="@Model.Title" data-url="@HttpContext.Current.Request.Url">

                </div>
            </div>
            <!-- 多说评论框 end -->
            <!-- 多说分享 -->



        </div>

        <div class="am-u-md-4" id="my-side">
            @Html.Partial("sidebox")

        </div>

    </div>



</div>