
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="@ViewBag.Keywords" name="keywords">
    <meta content="@ViewBag.Description" name="description">
    <meta name="author" content="@ViewBag.Author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="qc:admins" content="41333617676214416761676375" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="/logo.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
    <link href="~/Content/css/site.topic.css" rel="stylesheet" />
    <script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="~/Scripts/jquery.scrollbox.js"></script>
    <script src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="//cdn.bootcss.com/jsSHA/2.1.0/sha1.js"></script>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101322948" data-redirecturi="http://www.zyldingfang.com/member/qqconnect" charset="utf-8"></script>
    <!--ckeditor编辑器-->
    <script src="//cdn.bootcss.com/ckeditor/4.5.9/ckeditor.js"></script>
    <script src="//cdn.bootcss.com/ckeditor/4.5.9/config.js"></script>
    <script src="//cdn.bootcss.com/ckeditor/4.5.9/lang/zh.js"></script>
    <script src="//cdn.bootcss.com/ckeditor/4.5.9/plugins/flash/dialogs/flash.js"></script>
    <script src="//cdn.bootcss.com/ckeditor/4.5.9/plugins/flash/plugin.js"></script>
    <script src="//cdn.bootcss.com/ckeditor/4.5.9/plugins/flash/lang/zh.js"></script>

    <!-- 请置于所有广告位代码之前 -->
    <script src="http://dup.baidustatic.com/js/ds.js"></script>

    <!--百度站点统计 begin-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e9489310b1cf9cd5168d722f4a4e0feb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>



    <!--百度站点统计 end-->
   

</head>

<body>

    <!--header begin-->

    @Html.Partial("Header")
    <!--header end-->
    @RenderBody()

    <!--侧边浮动工具栏 begin-->

    <div class="side-tool">
        <ul style="list-style-type: none;">
            <li>
                <a href="/advice">
                    <div class="sidebox" style="width: 54px; opacity: 0.8; background: rgb(0, 0, 0);">
                        <img src="~/Content/images/amazeui/side_liuyan.png">意见和留言
                    </div>
                </a>
            </li>
            <li>
                <a href="tencent://message/?uin=1140046717&amp;Site=在线咨询&amp;Menu=yes">
                    <div class="sidebox" style="width: 54px; opacity: 0.8; background: rgb(0, 0, 0);">
                        <img src="~/Content/images/amazeui/side_qq.png">QQ联系
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="sidebox" style="width: 54px; opacity: 0.8; background: rgb(0, 0, 0);" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 455}">
                        <img src="~/Content/images/amazeui/side_weixin.png" />关注微信号
                    </div>
                    <div style="display:none">

                    </div>
                </a>
            </li>
            <li style="border:none;">
                <a href="javascript:goTop();" class="sidetop">
                    <img src="~/Content/images/amazeui/side_up.png">
                </a>
            </li>
            <li style="border:none;">
                <a href="javascript:goBottom();" class="sidetop">
                    <img src="~/Content/images/amazeui/side_down.png">
                </a>
            </li>
        </ul>
    </div>
    <!--侧边浮动工具栏 end-->
    <!--footer begin-->
    <footer class="am_footer">
        <div class="am_footer_con">
            <div class="am_footer_link">
                <span>快捷链接</span>
                <ul>
                    <li><a href="/" target="_blank">首页</a></li>
                    <li><a href="/home/about" target="_blank">关于我们</a></li>
                    <li><a href="/home/about" target="_blank">联系我们</a></li>
                    <li><a href="/home/about" target="_blank">营业执照</a></li>
                </ul>
                <ul>
                    <li><a href="/home/help" target="_blank">服务帮助</a></li>
                    <li><a href="/admin/home/index" target="_blank">业务员后台</a></li>
                </ul>
            </div>

            <div class="am_footer_don">
                <span>状元乐</span>
                <dl>
                    <dt>
                        <img src="~/Content/images/admin/logo_pic.png" />
                    </dt>
                    <dd>
                        状元乐订房服务中心，原名为状元郎订房中心 ，曾被授予“市场AAA品牌”企业，由于商标注册需要才更名。自2010年成立以来，状元乐以“真诚对待客户，对待公司成员”为原则，坚持以最诚恳的态度与人沟通！以最真挚的服务打动每一个人！作为专业的考试订房服务中心，状元乐采用了全国最新的O2O服务模式。

                        @*<a href="https://github.com/zuifengke/zyldingfang" target="_blank" class="footdon_az animated">
                                <div class="foot_d_az am-icon-github"> GitHub</div>
                            </a>*@

                    </dd>

                </dl>
            </div>

            <div class="am_footer_erweima">

                <div class="am_footer_ddon">
                    <img src="~/Content/images/site/pic_weixin.jpg" />
                    <div class="am_footer_d_dxz am-icon-cloud-download"> 手机扫码</div>
                </div>

            </div>

        </div>
        <div class="am_info_line"> @@copyright windy.studio All Rights Reserved </div>
        <div class="am_info_line-beian">
            浙ICP备13029931号-2
            <!--友盟cnzz统计 begin-->
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1259365669'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1259365669' type='text/javascript'%3E%3C/script%3E"));</script>
            <!--友盟cnzz统计 end-->
            <!--百度统计-->
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?e9489310b1cf9cd5168d722f4a4e0feb";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
            <!--百度统计-->

        </div>

    </footer>
    <!--footer end-->

    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script type='text/javascript' src='http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.ie8polyfill.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.widgets.helper.min.js' charset='utf-8'></script>

    <!--侧边工具栏 js代码 begin-->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".side-tool ul li").hover(function () {
                $(this).find(".sidebox").stop().animate({ "width": "124px" }, 200).css({ "opacity": "1", "filter": "Alpha(opacity=100)", "background": "#0E90D2" })
            }, function () {
                $(this).find(".sidebox").stop().animate({ "width": "54px" }, 200).css({ "opacity": "0.8", "filter": "Alpha(opacity=80)", "background": "#000" })
            });

        });
        function goTop() {
            $('html,body').animate({ 'scrollTop': 0 }, 600);
        }
        function goBottom() {
            $('html,body').animate({ 'scrollTop': $(document).height() }, 600);
        }
    </script>
    <!--侧边工具栏 js代码 end-->
    <!--分享 begin-->

    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "slide": { "type": "slide", "bdImg": "2", "bdPos": "left", "bdTop": "171.5" }, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
    <!--分享 end-->
    <!--微信关注模态窗 begin-->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                关注微信公众号，更多优惠活动等着你
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <img src="~/Content/images/site/pic_weixin.jpg" />
                <div class="am_footer_d_dxz am-icon-cloud-download"> 手机扫码</div>
            </div>
        </div>
    </div>
    <!--微信关注模态窗 end-->
   
    <!--百度自动提交 begin -->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <!--百度自动提交 end -->

</body>

</html>
